.container {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height:  500px;
  width: 90%;
  z-index: 1;
  /*overflow-y: scroll;*/
}
body {
  background: #09f;
  transition: background 0.5s ease-out;
}

@keyframes mymove {
  0%   {opacity: 0;}
  40%  {opacity: 0; background-position: 480px 300px;}
  41%  {opacity: 1}
  80%  {opacity: 1;}
  85%  {opacity: 0; background-position: 520px 280px;}
  100% {opacity: 0;}
}


.likeanr6 {
  background-image: url('img/like_a_g6.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.likeanr6logo {
  animation: mymove 1.6s linear infinite;
  background-image: url('r6-logo.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 150px 150px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.show-only-last-code-result pre + pre:not(:last-of-type) code[class="remark-code"] {
    display: none;
}

.duffman {
  background-image: url(duff_man.png);
  background-repeat: no-repeat;
  background-position: 0% 125%;
  z-index: 0;
}

.bottles {
  padding: 16px 64px 16px 10px;
}


.capsule-slide {
    background-image: url(capsule.png);
    background-position: -30% 350%;
    background-size: 50%;
    background-color:#000;
    color: var(--primary-color);
}
