@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
  background-color: #fffef2;
}

h1, h2, h3, h4 {
  color: #e17f93;
  font-family: 'Josefin Slab', serif;
}

p {
  font-family: 'Raleway';
}

.well {
  background-color: #fffef2;
  border:  #e17f93;
  box-shadow: 0 0 10px #e17f93;
}

#tree, #expressions {
  background-color: #e17f93;
  color: white;
}
