/* -----------div tips------------- */

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #3092FF;
    border-color: #3092FF;
}

h1, h2 {
  color: #3092FF;
}

div.answer, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
}
  
div.question, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #1f5386;
    background-color: #F1F8FF;
    border: solid 5px #bed3ec;
}
  
div.question {
  background-image: url("../www/images/question.png");
}

div.answer {
  background-image: url("../www/images/answer.png");
}

.Q {
  color: red;
  font-weight: bold;
}

.solved {
  color: green;
  font-weight: bold;
}

.started {
  color: orange;
  font-weight: bold;
}