body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #141414;
}

h1,h2 {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #011638;
}

h3,h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #011638;
}


g-table-intro h4 {
  text-indent: 0px;
}

.bandContent {
    margin: 0 auto;
    max-width: 1500px;
}

@media screen and (max-width: 1000px) {
  .topics {
    width: 99%;
  }

  .topics .tutorialTitle {
    display: block;
    cursor: pointer;
    font-size: smaller;
  }

  .topicsContainer {
    width: 1%;
    min-width: 1px;
    margin-right: 0;
  }

  .topicsList {
    padding: 0px 10px 20px 1%;
    background-color: rgba(255, 255, 255, 0.98);

    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
  }

  .topicsList.hideFloating {
    display: none;
  }

  .paneCloser {
    display: inline-block;
  }
}
